// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Base Font
$base-font-size: 16px;
$base-font-family: Arial, sans-serif;
$base-font-weight: $regular;
$base-line-height: 24px;
$base-font-color: #000;

// Alter Font
$alter-font-size: 10px;
$alter-font-family: Verdana, serif;
$alter-font-weight: $regular;
$alter-line-height: 16px;
$alter-font-color: #000;

$breakpoints: (smartphone: 0, tablet: 767, normal: 1023, large: 1280);

// Grid
$grid: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  ),
  column-class: 'span_',
  push-class: 'push_',
  pull-class: 'pull_',
  last-class: 'omega',
  responsive: true,
);

//Form
$placeholder-class: 'placeholder';

//Helpers
$sizes: (xxs: .25, xs: .5, s: .75, n: 1, m: 1.5, l: 2, xl: 2.5, xxl: 3);
$directions: (t: top, r: right, b: bottom, l: left);

$helpers: (padding, margin);

$horizontal-class: h;
$vertical-class: v;
