html, body {
    font-size: pxtopercent($base-font-size)
}
body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

h1 {
    font-size: pxtorem($base-header-font-size);
}
h2 {
    font-size: getHeadingSize(2);
}
h3 {
    font-size: getHeadingSize(3);
}
h4 {
    font-size: getHeadingSize(4);
}

