
//Nav
%nav{
    @include reset-box-model;
    @include reset-list-style;
    > li {
        @include inline-block;
        white-space: nowrap;
        > a {
            display: block;
        }
    }
}

//Nav Float
%nav--float {
  @extend %cf;
  > li {
    @include float-left;
  }
}


// Nav List
%nav--list {
    > li {
        display: block;
    }
}

// Nav Dropdown
%nav--dropdown{ 
    > li {
        position: relative;
        &:hover {
            > %nav--dropdown--item {
                left: 0;
            }
        }
    }
}

%nav--dropdown--item {
    position: absolute;
    left: -9999px;
}
